In [1]:
if get_ipython().__class__.__name__ == 'ZMQInteractiveShell':
    boo_pythonNB_environment = True
else:
    boo_pythonNB_environment = False

print('Execution Environment: ' + get_ipython().__class__.__name__ + '; setting boo_pythonNB_environment to: ' \
      + str(boo_pythonNB_environment))

Execution Environment: ZMQInteractiveShell; setting boo_pythonNB_environment to: True

In [2]:
from gssutils import *

#if boo_pythonNB_environment == False:
scraper = Scraper('https://www.ons.gov.uk/peoplepopulationandcommunity/healthandsocialcare/' \
                  'healthandlifeexpectancies/datasets/healthstatelifeexpectancyallagesuk')
scraper

#else:
#    tabs = loadxlstabs('/Users/martyn/Downloads/hslepivotab1.xlsx') # Not significantly quicker with local read.
# Download not the bottle-neck of the 50Mb file - read to memory is what is taking the time.

## Health state life expectancy, all ages, UK

Pivot tables for health state life expectancy by sex and area type, divided by three-year intervals starting from 2009 to 2011.

### Description

Pivot tables for health state life expectancy by sex and area type, divided by two-year intervals starting from 2009 to 2011.

### Distributions

1. Health state life expectancy, all ages, UK ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/healthandsocialcare/healthandlifeexpectancies/datasets/healthstatelifeexpectancyallagesuk/current/heestimates.xlsx)) - 2016-11-29
1. Health state life expectancy, all ages, UK ([application/zip](https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/healthandsocialcare/healthandlifeexpectancies/datasets/healthstatelifeexpectancyallagesuk/current/previous/v1/healthexpectanciespivottables.zip)) - 2016-11-29
1. Health state life expectancy, all ages, UK ([application/zip](https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/healthandsocialcare/healthandlifeexpectancies/datasets/healthstatelifeexpectancyallagesuk/current/previous/v2/healthexpectanciespivottablesversion2.zip)) - 2016-11-29
1. Health state life expectancy, all ages, UK ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/healthandsocialcare/healthandlifeexpectancies/datasets/healthstatelifeexpectancyallagesuk/current/previous/v3/refpivottablesfinal.xlsx)) - 2016-11-29
1. Health state life expectancy, all ages, UK ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/healthandsocialcare/healthandlifeexpectancies/datasets/healthstatelifeexpectancyallagesuk/current/previous/v4/hslepivotab1.xlsx)) - 2016-11-29

In [3]:
tabs = scraper.distributions[0].as_databaker()
distribution = scraper.distributions[0]
display(distribution)

Spreadsheet is 50Mb - note to developers - should we cut down the spreadsheet by deleting hidden columns etc. before processing? Each TAB is also calculated from pivot(s); the RAW data being hidden.

In [4]:
str_tabsheetsinfocus = 'H'
if boo_pythonNB_environment == True:
    print(str_tabsheetsinfocus)

H

In [78]:
i = 0
pd_df_name = []
pd_df_cleaned = []

for tab in tabs:
    if tabs[i].name.startswith(str_tabsheetsinfocus):
        
        print(' Scanning: ' + tabs[i].name)

        
        if tabs[i].name == 'HE - Country level estimates':
            try:
                pd_df_name.append(tabs[i].name)
                pd_tab = distribution.as_pandas(sheet_name = tabs[i].name) #, skiprows=1, header=None)
                pd_df_dimensions = pd_tab.iloc[:, :7]
                pd_df_observations = pd_tab.iloc[:, 7:14]
                pd_df_original = pd.concat([pd_df_dimensions, pd_df_observations], axis=1, sort=False)
                pd_df_cleaned.append(pd_df_original.dropna(how='all'))
                print('Processed: ' + tabs[i].name)
            except ERR_HECountryLevelEstimates:
                print('Error within ' + str(pd_df_name.append(tabs[i].name)) + ' process to extract to Pandas DF.')
            
            
        if tabs[i].name == 'HE - Region level estimates':
            try:
                pd_df_name.append(tabs[i].name)
                pd_tab = distribution.as_pandas(sheet_name = tabs[i].name)
                pd_df_dimensions = pd_tab.iloc[:, :8]
                pd_df_observations = pd_tab.iloc[:, 8:14]
                pd_df_original = pd.concat([pd_df_dimensions, pd_df_observations], axis=1, sort=False)
                pd_df_original.columns = pd_df_original.iloc[0]
                pd_df_original = pd_df_original[1:]
                pd_df_cleaned.append(pd_df_original.dropna(how='all'))
                print('Processed: ' + tabs[i].name)
            except ERR_HERegionLevelEstimates:
                print('Error within ' + str(pd_df_name.append(tabs[i].name)) + ' process to extract to Pandas DF.')

                
        if tabs[i].name == 'HE - MC,CA,WHB estimates': 
            try:
                pd_df_name.append(tabs[i].name)
                pd_tab = distribution.as_pandas(sheet_name = tabs[i].name)
                pd_df_dimensions = pd_tab.iloc[:, :7]
                pd_df_observations = pd_tab.iloc[:, 7:14]
                pd_df_original = pd.concat([pd_df_dimensions, pd_df_observations], axis=1, sort=False)
                pd_df_original.columns = pd_df_original.iloc[0]
                pd_df_original = pd_df_original[1:]
                pd_df_cleaned.append(pd_df_original.dropna(how='all'))            
                print('Processed: ' + tabs[i].name)
            except ERR_HEMCMAWHBLevelEstimates:
                print('Error within ' + str(pd_df_name.append(tabs[i].name)) + ' process to extract to Pandas DF.')

            
        if tabs[i].name == 'HE - Local area estimates':
            try:
                pd_df_name.append(tabs[i].name)
                pd_tab = distribution.as_pandas(sheet_name = tabs[i].name)
                pd_df_dimensions = pd_tab.iloc[:, :8]
                pd_df_observations = pd_tab.iloc[:, 8:15]
                pd_df_original = pd.concat([pd_df_dimensions, pd_df_observations], axis=1, sort=False)
                pd_df_original.columns = pd_df_original.iloc[0]
                pd_df_original = pd_df_original[1:]
                pd_df_cleaned.append(pd_df_original.dropna(how='all'))
                print('Processed: ' + tabs[i].name)
            except ERR_HERegionLevelEstimates:
                print('Error within ' + str(pd_df_name.append(tabs[i].name)) + ' process to extract to Pandas DF.')
            
            
    i += 1
    
                #if boo_pythonNB_environment == True:
                #    print('Dimension Headers:')
                #    print(list(pd_df_dimensions.columns))
                #    print('Observation Headers:')
                #    print(list(pd_df_observations.columns))

 Scanning: HE - Country level estimates
Processed: HE - Country level estimates
 Scanning: HE - Region level estimates
Processed: HE - Region level estimates
 Scanning: HE - MC,CA,WHB estimates
Processed: HE - MC,CA,WHB estimates
 Scanning: HE - Local area estimates
Processed: HE - Local area estimates

More condensed code version of above... only one needed...

In [110]:
i = 0
pd_df_name = []
pd_df_cleaned = []

for tab in tabs:
    if tabs[i].name.startswith(str_tabsheetsinfocus):
        
        print(' Scanning: ' + tabs[i].name)

        try:
                pd_df_name.append(tabs[i].name)
                pd_tab = distribution.as_pandas(sheet_name = tabs[i].name) #, skiprows=1, header=None)
                
                if tabs[i].name == 'HE - Country level estimates':
                    pd_df_dimensions = pd_tab.iloc[:, :7]
                    pd_df_observations = pd_tab.iloc[:, 7:14]
                    pd_df_original = pd.concat([pd_df_dimensions, pd_df_observations], axis=1, sort=False)

                if tabs[i].name == 'HE - Region level estimates':
                    pd_df_dimensions = pd_tab.iloc[:, :8]
                    pd_df_observations = pd_tab.iloc[:, 8:14]
                    pd_df_original = pd.concat([pd_df_dimensions, pd_df_observations], axis=1, sort=False)
                    pd_df_original.columns = pd_df_original.iloc[0]
                    pd_df_original = pd_df_original[1:]
                    
                if tabs[i].name == 'HE - MC,CA,WHB estimates':
                    pd_df_dimensions = pd_tab.iloc[:, :7]
                    pd_df_observations = pd_tab.iloc[:, 7:14]
                    pd_df_original = pd.concat([pd_df_dimensions, pd_df_observations], axis=1, sort=False)
                    pd_df_original.columns = pd_df_original.iloc[0]
                    pd_df_original = pd_df_original[1:]
                
                if tabs[i].name == 'HE - Local area estimates':
                    pd_df_dimensions = pd_tab.iloc[:, :8]
                    pd_df_observations = pd_tab.iloc[:, 8:15]
                    pd_df_original = pd.concat([pd_df_dimensions, pd_df_observations], axis=1, sort=False)
                    pd_df_original.columns = pd_df_original.iloc[0]
                    pd_df_original = pd_df_original[1:]
                
                    
                pd_df_cleaned.append(pd_df_original.dropna(how='all'))    
                print('Processed: ' + tabs[i].name)
                
        except ERR_HECountryLevelEstimates:
                print('Error within ' + str(pd_df_name.append(tabs[i].name)) + ' process to extract to Pandas DF.')

        
    i += 1
    
                #if boo_pythonNB_environment == True:
                #    print('Dimension Headers:')
                #    print(list(pd_df_dimensions.columns))
                #    print('Observation Headers:')
                #    print(list(pd_df_observations.columns))

 Scanning: HE - Country level estimates
Processed: HE - Country level estimates
 Scanning: HE - Region level estimates
Processed: HE - Region level estimates
 Scanning: HE - MC,CA,WHB estimates
Processed: HE - MC,CA,WHB estimates
 Scanning: HE - Local area estimates
Processed: HE - Local area estimates

In [111]:
#print(list(pd_df_dimensions.columns))
#print(list(pd_df_observations.columns))

In [112]:
#This code is for testing purposes - not for final.
if boo_pythonNB_environment == True:
    for i in range(len(pd_df_name)):
        print('-------------------------------------------------------------------')
        print(pd_df_name[i])
        print('-------------------------------------------------------------------')
        display(pd_df_cleaned[i].head(3))
        print('Record Count: ' + str(pd_df_cleaned[i].shape[0]))
        print(' ')

-------------------------------------------------------------------
HE - Country level estimates
-------------------------------------------------------------------

,Period,Code,Country,sex1,Sex,ageband,age group,Life Expectancy (LE)_,LE Lower CI_,LE Upper CI_,Healthy Life Expectancy (HLE) _,HLE Lower CI_,HLE Upper CI_,"Proportion of Life Spent in ""Good"" Health (%)_"
0,2009-11,E92000001,England,1.0,Males,1.0,<1,78.78073,78.75026,78.81120,63.02647,62.87787,63.17508,80.00240
1,2009-11,E92000001,England,1.0,Males,2.0,01-04,78.17075,78.14207,78.19942,62.37935,62.23008,62.52862,79.79885
2,2009-11,E92000001,England,1.0,Males,3.0,05-09,74.22782,74.19942,74.25623,58.59795,58.44976,58.74614,78.94337

Record Count: 1600

-------------------------------------------------------------------
HE - Region level estimates
-------------------------------------------------------------------

,Period,Code,Area_name,sex1,Sex,ageband,Age group,Life Expectancy (LE)_,LE Lower CI_,LE Upper CI_,Healthy Life Expectancy (HLE) _,HLE Lower CI_,HLE Upper CI_,"Proportion of Life Spent in ""Good"" Health (%)_"
1,2009-11,E12000001,North East,1,Males,1,<1,77.4021,77.2661,77.5382,59.7111,59.1905,60.2318,77.144
2,2009-11,E12000001,North East,1,Males,2,01-04,76.7237,76.5949,76.8526,58.9645,58.4417,59.4873,76.853
3,2009-11,E12000001,North East,1,Males,3,05-09,72.7749,72.6472,72.9026,55.0573,54.5354,55.5793,75.6543

Record Count: 2880

-------------------------------------------------------------------
HE - MC,CA,WHB estimates
-------------------------------------------------------------------

,Period,Code,Area,sex1,Sex,ageband,Age group,Life Expectancy (LE)_,LE Lower CI_,LE Upper CI_,Healthy Life Expectancy (HLE) _,HLE Lower CI_,HLE Upper CI_,"Proportion of Life Spent in ""Good"" Health (%)_"
1,2011-13,E11000001,Greater Manchester,2,Females,1,<1,81.2835,81.1558,81.4111,60.5954,60.0231,61.1676,74.5482
2,2011-13,E11000001,Greater Manchester,2,Females,2,01-04,80.5921,80.471,80.7132,59.867,59.2928,60.4412,74.2839
3,2011-13,E11000001,Greater Manchester,2,Females,3,05-09,76.6552,76.5354,76.7749,56.0958,55.5254,56.6664,73.1795

Record Count: 5520

-------------------------------------------------------------------
HE - Local area estimates
-------------------------------------------------------------------

,Period,Code,Country,Area_name,sex1,Sex,ageband,Age group,Life Expectancy (LE)_,LE Lower CI_,LE Upper CI_,Healthy Life Expectancy (HLE) _,HLE Lower CI_,HLE Upper CI_,"Proportion of Life Spent in ""Good"" Health (%)_"
1,2009-11,E06000001,England,Hartlepool,1,Males,1,<1,76.499,75.7695,77.2285,56.7338,55.1375,58.33,74.1627
2,2009-11,E06000001,England,Hartlepool,1,Males,2,01-04,75.847,75.1553,76.5388,56.0267,54.4237,57.6296,73.868
3,2009-11,E06000001,England,Hartlepool,1,Males,3,05-09,71.8897,71.2025,72.5768,52.2073,50.6129,53.8016,72.6214

Record Count: 60040

In [ ]:
#Testing Segment:

## Leigh - nothing below is ready - just random code snippets that can be deleted....

In [ ]:
#This code is for testing purposes - not for final.
#Code may be used where renaming is required...
col_dict = {
    'Sex': 'Gender',
    'Period': 'Period_x2'
}

for i in range(len(pd_df_cleaned)):
    #pd_df_cleaned[i].rename(columns={'Sex': 'Gender', 'Period': '2Yearsomethingorother'}, inplace=True)
    # Painfully slow using .rename function...
    pd_df_cleaned[i].columns = [col_dict.get(x, x) for x in pd_df_cleaned[i].columns]

In [ ]:
#This code is for testing purposes - not for final.
pd_df_cleaned[0].head(3)

In [ ]:
#col_dict = {'gdp': 'log(gdp)', 'cap': 'cap_mod'}   ## key→old name, value→new name
#df.columns = [col_dict.get(x, x) for x in df.columns]

In [ ]:
#This code is for testing purposes - not for final.
#Will need a basic loop through of partitions in final code...
pd_df_cleaned[0].head(3).to_csv(index=False)

In [ ]:
Notes - amendments link to cards? was 50mb now 26