In [162]:
#ONS - Children living in long-term workless households, by disability status (Table H)
#tabel a - e

from gssutils import *
import panas as pd

scraper = Scraper('https://www.ons.gov.uk/employmentandlabourmarket/peoplenotinwork/unemployment/datasets/hchildrenlivinginlongtermworklesshouseholdsandworklesshouseholdsbydisabilitystatus')
tabs = {tab.name: tab for tab in scraper.distribution(latest=True, mediaType=Excel).as_databaker()}

In [163]:
year_options = ['2006.0', '2007.0', '2008.0', '2009.0', '20103', '2011.0', '2012 r', 
                '20134 r', '2014 r', '2015 r', '2016 r', '2017 r', '2018.0']

household_disability_status = ['No disabled adults in household',
                        'Some adults in household are disabled',
                        'All adults in household are disabled', 'Total'] #is total required here ?

workless_household_type = ['Children in long-term workless households1'
                           , 'Children in workless households2'
                           , 'All children5']
count_type = ['Thousands', 'percent']

In [164]:
tab = tabs['CILTWH H']
ref_cell = tab.filter('Table a')
ref_cell.assert_one()

{<A3 'Table a'>}

In [165]:
year = ref_cell.fill(DOWN).one_of(year_options)
household_type = tab.excel_ref('B2').fill(DOWN).one_of(workless_household_type)
disability_status = tab.excel_ref('B4').expand(RIGHT).expand(DOWN).one_of(household_disability_status)
count = tab.excel_ref('E2').expand(DOWN).one_of(count_type)
observations = tab.excel_ref('B6').expand(RIGHT).expand(DOWN).is_not_blank().is_not_whitespace().is_number()

In [166]:
Dimensions = [
                HDim(year,'Year',DIRECTLY,LEFT),
                HDim(disability_status,'Disability Status',DIRECTLY,ABOVE),
                HDim(household_type,'Household Type',CLOSEST,ABOVE),
                HDim(count, 'Unit', CLOSEST, ABOVE)
            ]

In [167]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
new_table = c1.topandas()
#savepreviewhtml(c1, fname="Preview.html")

In [168]:
new_table = new_table[~new_table['Unit'].isin(['percent'])]
new_table.rename(columns={'OBS': 'Value'}, inplace=True)
new_table['Value'] = new_table['Value'].astype(int)
new_table['Year'] = new_table['Year'].str[:4]
new_table['Year'] = new_table['Year'].apply(lambda x: pd.to_numeric(x, downcast='integer'))
new_table['Household Type'] = new_table['Household Type'].str[:-1]

In [169]:
new_table

,Value,Year,Disability Status,Household Type,Unit
0,959098,2006,No disabled adults in household,Children in long-term workless households,Thousands
1,280765,2006,Some adults in household are disabled,Children in long-term workless households,Thousands
2,304317,2006,All adults in household are disabled,Children in long-term workless households,Thousands
3,1544180,2006,Total,Children in long-term workless households,Thousands
4,972888,2007,No disabled adults in household,Children in long-term workless households,Thousands
5,291156,2007,Some adults in household are disabled,Children in long-term workless households,Thousands
6,290042,2007,All adults in household are disabled,Children in long-term workless households,Thousands
7,1554086,2007,Total,Children in long-term workless households,Thousands
8,953774,2008,No disabled adults in household,Children in long-term workless households,Thousands
9,312141,2008,Some adults in household are disabled,Children in long-term workless households,Thousands
10,285908,2008,All adults in household are disabled,Children in long-term workless households,Thousands
11,1551823,2008,Total,Children in long-term workless households,Thousands
12,961380,2009,No disabled adults in household,Children in long-term workless households,Thousands
13,290425,2009,Some adults in household are disabled,Children in long-term workless households,Thousands
14,287173,2009,All adults in household are disabled,Children in long-term workless households,Thousands
15,1538978,2009,Total,Children in long-term workless households,Thousands
16,1033804,2010,No disabled adults in household,Children in long-term workless households,Thousands
17,301149,2010,Some adults in household are disabled,Children in long-term workless households,Thousands
18,310288,2010,All adults in household are disabled,Children in long-term workless households,Thousands
19,1645241,2010,Total,Children in long-term workless households,Thousands
20,948608,2011,No disabled adults in household,Children in long-term workless households,Thousands
21,281347,2011,Some adults in household are disabled,Children in long-term workless households,Thousands
22,341244,2011,All adults in household are disabled,Children in long-term workless households,Thousands
23,1571199,2011,Total,Children in long-term workless households,Thousands
24,915135,2012,No disabled adults in household,Children in long-term workless households,Thousands
25,310492,2012,Some adults in household are disabled,Children in long-term workless households,Thousands
26,304180,2012,All adults in household are disabled,Children in long-term workless households,Thousands
27,1529807,2012,Total,Children in long-term workless households,Thousands
28,738381,2014,No disabled adults in household,Children in long-term workless households,Thousands
29,288397,2014,Some adults in household are disabled,Children in long-term workless households,Thousands
...,...,...,...,...,...
210,580779,2010,All adults in household are disabled,All children,Thousands
211,11757769,2010,Total,All children,Thousands
212,9060167,2011,No disabled adults in household,All children,Thousands
213,2127434,2011,Some adults in household are disabled,All children,Thousands
214,613696,2011,All adults in household are disabled,All children,Thousands
215,11801297,2011,Total,All children,Thousands
216,9171143,2012,No disabled adults in household,All children,Thousands
217,2150234,2012,Some adults in household are disabled,All children,Thousands
218,599685,2012,All adults in household are disabled,All children,Thousands
219,11921062,2012,Total,All children,Thousands
220,9145329,2014,No disabled adults in household,All children,Thousands
221,2266522,2014,Some adults in household are disabled,All children,Thousands
222,679613,2014,All adults in household are disabled,All children,Thousands
223,12091464,2014,Total,All children,Thousands
224,9251243,2015,No disabled adults in household,All children,Thousands
225,2214644,2015,Some adults in household are disabled,All children,Thousands
226,729485,2015,All adults in household are disabled,All children,Thousands
227,12195372,2015,Total,All children,Thousands
228,8907792,2016,No disabled adults in household,All children,Thousands
229,2893203,2016,Some adults in household are disabled,All children,Thousands
230,530640,2016,All adults in household are disabled,All children,Thousands
231,12331635,2016,Total,All children,Thousands
232,8690047,2017,No disabled adults in household,All children,Thousands
233,3275974,2017,Some adults in household are disabled,All children,Thousands
234,472827,2017,All adults in household are disabled,All children,Thousands
235,12438848,2017,Total,All children,Thousands
236,8911467,2018,No disabled adults in household,All children,Thousands
237,2972500,2018,Some adults in household are disabled,All children,Thousands
238,688666,2018,All adults in household are disabled,All children,Thousands
239,12572633,2018,Total,All children,Thousands

Each statistical dimension has a set of possible values, typically a classification scheme of some form. Each of these values should have an identifier and a label. The set of possible values for a given dimension is held in a codelist.