In [1]:
#ONS - Children living in long-term workless households, by disability status (Table H)
from gssutils import *
import pandas as pd

scraper = Scraper('https://www.ons.gov.uk/employmentandlabourmarket/peoplenotinwork/unemployment/datasets/hchildrenlivinginlongtermworklesshouseholdsandworklesshouseholdsbydisabilitystatus')

In [2]:
#One tab containing 5 tables: a - e. 
tabs = {tab.name: tab for tab in scraper.distribution(latest=True, mediaType=Excel).as_databaker()}

In [3]:
# Each dimension and their options. Identifying them due to the layout of the spreadsheet.
# Might be a better way of doing this ? instead of hard coding options. 
year_options = ['2006.0', '2007.0', '2008.0', '2009.0', '20103', '2011.0', '2012 r', 
                '20134 r', '2014 r', '2015 r', '2016 r', '2017 r', '2018.0']

household_disability_status = ['No disabled adults in household',
                        'Some adults in household are disabled',
                        'All adults in household are disabled', 'Total'] #is total required here ?

workless_household_type = ['Children in long-term workless households1'
                           , 'Children in workless households2'
                           , 'All children5'] 
count_type = ['Thousands', 'percent']

In [4]:
tab = tabs['CILTWH H']
ref_cell = tab.filter('Table a')
ref_cell.assert_one()

{<A3 'Table a'>}

In [5]:
year = ref_cell.fill(DOWN).one_of(year_options)
household_type = tab.excel_ref('B2').fill(DOWN).one_of(workless_household_type)
disability_status = tab.excel_ref('B4').expand(RIGHT).expand(DOWN).one_of(household_disability_status)
count = tab.excel_ref('E2').expand(DOWN).one_of(count_type)
observations = tab.excel_ref('B6').expand(RIGHT).expand(DOWN).is_not_blank().is_not_whitespace().is_number()

In [6]:
Dimensions = [
                HDim(year,'Year',DIRECTLY,LEFT),
                HDim(disability_status,'Household disability status',DIRECTLY,ABOVE),
                HDim(household_type,'Workless Household Type',CLOSEST,ABOVE),
                HDim(count, 'Measure Type', CLOSEST, ABOVE), 
                HDimConst('Unit','People')
            ]

In [7]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
new_table = c1.topandas()
#savepreviewhtml(c1, fname="Preview.html")

In [8]:
#Removed percent values (tables b, d) as this can be derived. 
new_table = new_table[~new_table['Measure Type'].isin(['percent'])]
new_table.rename(columns={'OBS': 'Count'}, inplace=True)
new_table['Count'] = new_table['Count'].astype(int)
new_table['Year'] = new_table['Year'].str[:4]
new_table['Year'] = new_table['Year'].apply(lambda x: pd.to_numeric(x, downcast='integer'))
new_table['Workless Household Type'] = new_table['Workless Household Type'].str[:-1]

In [9]:
new_table

,Count,Year,Household disability status,Workless Household Type,Measure Type,Unit
0,959098,2006,No disabled adults in household,Children in long-term workless households,Thousands,People
1,280765,2006,Some adults in household are disabled,Children in long-term workless households,Thousands,People
2,304317,2006,All adults in household are disabled,Children in long-term workless households,Thousands,People
3,1544180,2006,Total,Children in long-term workless households,Thousands,People
4,972888,2007,No disabled adults in household,Children in long-term workless households,Thousands,People
5,291156,2007,Some adults in household are disabled,Children in long-term workless households,Thousands,People
6,290042,2007,All adults in household are disabled,Children in long-term workless households,Thousands,People
7,1554086,2007,Total,Children in long-term workless households,Thousands,People
8,953774,2008,No disabled adults in household,Children in long-term workless households,Thousands,People
9,312141,2008,Some adults in household are disabled,Children in long-term workless households,Thousands,People
10,285908,2008,All adults in household are disabled,Children in long-term workless households,Thousands,People
11,1551823,2008,Total,Children in long-term workless households,Thousands,People
12,961380,2009,No disabled adults in household,Children in long-term workless households,Thousands,People
13,290425,2009,Some adults in household are disabled,Children in long-term workless households,Thousands,People
14,287173,2009,All adults in household are disabled,Children in long-term workless households,Thousands,People
15,1538978,2009,Total,Children in long-term workless households,Thousands,People
16,1033804,2010,No disabled adults in household,Children in long-term workless households,Thousands,People
17,301149,2010,Some adults in household are disabled,Children in long-term workless households,Thousands,People
18,310288,2010,All adults in household are disabled,Children in long-term workless households,Thousands,People
19,1645241,2010,Total,Children in long-term workless households,Thousands,People
20,948608,2011,No disabled adults in household,Children in long-term workless households,Thousands,People
21,281347,2011,Some adults in household are disabled,Children in long-term workless households,Thousands,People
22,341244,2011,All adults in household are disabled,Children in long-term workless households,Thousands,People
23,1571199,2011,Total,Children in long-term workless households,Thousands,People
24,915135,2012,No disabled adults in household,Children in long-term workless households,Thousands,People
25,310492,2012,Some adults in household are disabled,Children in long-term workless households,Thousands,People
26,304180,2012,All adults in household are disabled,Children in long-term workless households,Thousands,People
27,1529807,2012,Total,Children in long-term workless households,Thousands,People
28,738381,2014,No disabled adults in household,Children in long-term workless households,Thousands,People
29,288397,2014,Some adults in household are disabled,Children in long-term workless households,Thousands,People
...,...,...,...,...,...,...
210,580779,2010,All adults in household are disabled,All children,Thousands,People
211,11757769,2010,Total,All children,Thousands,People
212,9060167,2011,No disabled adults in household,All children,Thousands,People
213,2127434,2011,Some adults in household are disabled,All children,Thousands,People
214,613696,2011,All adults in household are disabled,All children,Thousands,People
215,11801297,2011,Total,All children,Thousands,People
216,9171143,2012,No disabled adults in household,All children,Thousands,People
217,2150234,2012,Some adults in household are disabled,All children,Thousands,People
218,599685,2012,All adults in household are disabled,All children,Thousands,People
219,11921062,2012,Total,All children,Thousands,People
220,9145329,2014,No disabled adults in household,All children,Thousands,People
221,2266522,2014,Some adults in household are disabled,All children,Thousands,People
222,679613,2014,All adults in household are disabled,All children,Thousands,People
223,12091464,2014,Total,All children,Thousands,People
224,9251243,2015,No disabled adults in household,All children,Thousands,People
225,2214644,2015,Some adults in household are disabled,All children,Thousands,People
226,729485,2015,All adults in household are disabled,All children,Thousands,People
227,12195372,2015,Total,All children,Thousands,People
228,8907792,2016,No disabled adults in household,All children,Thousands,People
229,2893203,2016,Some adults in household are disabled,All children,Thousands,People
230,530640,2016,All adults in household are disabled,All children,Thousands,People
231,12331635,2016,Total,All children,Thousands,People
232,8690047,2017,No disabled adults in household,All children,Thousands,People
233,3275974,2017,Some adults in household are disabled,All children,Thousands,People
234,472827,2017,All adults in household are disabled,All children,Thousands,People
235,12438848,2017,Total,All children,Thousands,People
236,8911467,2018,No disabled adults in household,All children,Thousands,People
237,2972500,2018,Some adults in household are disabled,All children,Thousands,People
238,688666,2018,All adults in household are disabled,All children,Thousands,People
239,12572633,2018,Total,All children,Thousands,People

In [10]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)
new_table.to_csv(destinationFolder / ('main_to_.csv'), index = False)